%section
  - @sources.each do |source|
    = "#{source.manuscript}, #{source.text}:"
    %ul
      %li= "Dating: #{source.dating_start} to #{source.dating_end}"
      %li= "Dialect: #{source.dialect}"
      %li= link_to 'more information', source_path(source.id)
  =paginate @sources
  =page_entries_info @sources