%section
  - @sources.each do |source|
    = "#{source.manuscript}, #{source.text}:"
    %ul
      %li
        Dating:
        - if source.dating_interval.empty?
          unknown
        - else
          = source.dating_interval.join(' to ')
      %li= "Dialect: #{source.dialect}"
      %li= link_to 'more information', source_path(source.id)
  =paginate @sources
  =page_entries_info @sources