%section
  %ul
    %li= "Manuscript: #{@source.manuscript}"
    %li= "Text: #{@source.text}"
    %li= "Dating: #{@source.dating_start} to #{@source.dating_end}"
    %li= "Dialect: #{@source.dialect}"
    %li= "Typology: #{@source.typo_broad}, #{@source.typo_content}, #{@source.typo_form},
          #{@source.typo_sociohistoric}, #{@source.typo_speccorpus}, #{@source.typo_subjectmatter}"