%section
  %ul
    %li= "Manuscript: #{@source.manuscript}"
    %li= "Text: #{@source.text}"
    %li
      Dating:
      - if @source.dating_interval.empty?
        unknown
      - else
        = @source.dating_interval.join(' to ')
    %li= "Dialect: #{@source.dialect}"
    %li= "Typology: #{@source.typologies.join(', ')}"