= navbar container: 'fluid' do
  = navbar_header brand: 'Loanword Orthographies'
  = navbar_collapse do
    = navbar_group id: 'menu' do
      = navbar_item 'Home', root_path
      = navbar_dropdown 'Basic Statistics' do
        = navbar_dropdown_header 'Choose an Overview Chart'
        = navbar_item 'Time-Dependent Overview', basic_statistics_index_path
        = navbar_item 'Frequency Distribution', basic_statistics_frequency_index_path
      = navbar_item 'Tree', tree_index_path
      = navbar_dropdown 'Data' do
        = navbar_dropdown_header 'Choose your data'
        = navbar_item 'Greek Lemmas', greek_lemmas_path
        = navbar_item 'Coptic Sublemmas', coptic_sublemmas_path
        = navbar_item 'Orthographies', orthographies_path
        = navbar_item 'Attestations', attestations_path
        = navbar_item 'Sources', sources_path
      = navbar_item 'Project Description', description_index_path
    = navbar_group align: 'right', id: 'ddglc_reference' do
      = link_to 'http://research.uni-leipzig.de/ddglc/', target: :_blank do
        = image_tag('ddglc_logo.jpg', class: :ddglc_logo, height: '50', alt: 'DDGLC')

